fieldset { 
		border:2px outset #e9d4b3;
		box-shadow: -8px 14px 30px 5px rgba(0,0,0,0.6);
		background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
		width: 400px; 
		height:200px; 
		margin:6.0em auto;
		text-align:center;
		border-radius: 23px 23px 23px 23px;
		}
legend {
	padding: 5px 10px;
  	border: 2px outset #e9d4b3;
  	background: #fcfaf2;
    font-size:  1.4em;
    font-weight:  bold;
    position:  relative;
    text-align:left;
    top:  -.4em;
    border-radius: 10px 10px 10px 10px;
}
input[type=submit]{
                 width: 100px;
                 right: 20px;
                 bottom: 20px;
                 background: #fcfcfc;
                 color: #000;
                 font-family: average;
                 height: 30px;
                 font-size: 18px;
                 border-radius: 8px;
                 border: 3px outset #999;
                 margin-left: 194px;
                 cursor: pointer;
             }
input[type=text]{
                 width: 200px;
                 right: 20px;
                 bottom: 20px;
                 background: #fcfcfc;
                 color: #000;
                 font-family: cambria;
                 height: 30px;
                 font-size: 14px;
                 border-radius: 8px;
                 border: 1px solid #999;
                 margin-top:20px;
                 margin-bottom: 10px;
             }
input[type=password]{
                 width: 200px;
                 right: 20px;
                 bottom: 20px;
                 background: #fcfcfc;
                 color: #000;
                 font-family: cambria;
                 height: 30px;
                 font-size: 20px;
                 border-radius: 8px;
                 border: 1px solid #999;
                  margin-bottom: 10px;
             }
label{
		font-size:  20px;
    	font-family: Average;

		}
        
.error
{
    color:red;
}
